[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
waitress = "*"

[dev-packages]
pylama = "*"
pylint = "*"

[requires]
python_version = "3.9"
