[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = {extras = ["async"], version = "*"}
functions-framework = "*"
google-cloud-storage = "*"
google-oauth = "*"
google-api-python-client = "*"
google-cloud-functions = "*"
waitress = "*"
gunicorn = {extras = ["full"], version = "*"}
flask-cors = "*"

[dev-packages]
functions-framework = "*"

[requires]
python_version = "*"
