[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
functions-framework = "*"
google-cloud-storage = "*"
google-oauth = "*"

[dev-packages]
functions-framework = "*"

[requires]
python_version = "*"
