<div class="ms-content-wrapper">
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb pl-0">
                    <li class="breadcrumb-item"><a routerLink="/"><i class="material-icons">home</i> Home</a></li>
                    <li class="breadcrumb-item"><a routerLink="/">Engineer</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Add Engineers</li>
                </ol>
            </nav>
        </div>
        <div class="col-xl-12 col-md-12">
            <div class="ms-panel">
                <div class="ms-panel-header ms-panel-custome">
                    <h6>Add Engineers</h6>
                    <a routerLink="/engineer/engineer-list" class="ms-text-primary">Engineers List</a>
                </div>
                <div class="ms-panel-body">
                    <form class="needs-validation" [formGroup]="addForm" (validSubmit)="onSubmit()">
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom0001">First Name</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="validationCustom0001" placeholder="Enter First Name" formControlName="firstName">
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom0002">Last name</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="validationCustom0002" placeholder="Enter Last Name" formControlName="lastName">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom0003">Email Address</label>
                                <div class="input-group">
                                    <input type="email" class="form-control" id="validationCustom0003" placeholder="Enter Email" formControlName="email">
                                </div>
                            </div>
                            <div class="col-md-6 mb-2">
                                <label for="validationCustom0004">Create Password</label>
                                <div class="input-group">
                                    <input type="password" class="form-control" id="validationCustom0004" placeholder="Enter Password" formControlName="createPassword">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom0005">Designation</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="validationCustom0005" placeholder="Enter Designation" formControlName="designation">
                                </div>
                            </div>
                            <div class="col-md-6 mb-2">
                                <label for="validationCustom6">Department</label>
                                <div class="input-group">
                                    <select class="form-control" id="validationCustom6" formControlName="department">
                                        <option value="Neurology">Neurology</option>
                                        <option value="Gynaecology">Gynaecology</option>
                                        <option value="Microbiology">Microbiology</option>
                                        <option value="Pharmacy">Pharmacy</option>
                                        <option value="Neonatal">Neonatal</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-2">
                                <label for="validationCustom007">Address</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="validationCustom007" placeholder="Address" formControlName="address">
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom008">Specialist</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="validationCustom008" placeholder="Specialist" formControlName="speciallist">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-2">
                                <label for="validationCustom009">Mobile</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="validationCustom009" placeholder="Mobile" formControlName="mobileNo">
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>Engineer Image</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="validatedCustomFile" formControlName="image">
                                    <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12 mb-2">
                                <label>Short Biography</label>
                                <div class="input-group">
                                    <textarea class="form-control" id="exampleTextarea" rows="3" formControlName="description"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label>Date of Birth</label>
                                <div class="input-group">
                                    <input type="date" class="form-control" id="validationCustom102" placeholder="Date of Birth" formControlName="dateOfBirth">
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom202">Blood Group</label>
                                <div class="input-group">
                                    <select class="form-control" id="validationCustom202" formControlName="bloodGroup">
                                        <option value="A+">A+</option>
                                        <option value="A-">A-</option>
                                        <option value="B+">B+</option>
                                        <option value="B-">B-</option>
                                        <option value="AB+">AB+</option>
                                        <option value="AB-">AB-</option>
                                        <option value="O+">O+</option>
                                        <option value="O-">O-</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label>Sex</label>
                                <ul class="ms-list d-flex">
                                    <li class="ms-list-item pl-0">
                                        <label class="ms-checkbox-wrap">
                                            <input type="radio" name="radioExample" value="">
                                            <i class="ms-checkbox-check"></i>
                                        </label>
                                        <span> Male </span>
                                    </li>
                                    <li class="ms-list-item">
                                        <label class="ms-checkbox-wrap">
                                            <input type="radio" name="radioExample" value="" checked="">
                                            <i class="ms-checkbox-check"></i>
                                        </label>
                                        <span> Female </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <button class="btn btn-warning mt-4 d-inline w-20 mr-2" type="button" (click)="onReset()">Reset</button>
                        <button class="btn btn-primary mt-4 d-inline w-20" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>